.content {
	width: 70%;
	/* background: #9cea78; */
}
* {
	-webkit-user-select: none !important; /* Safari */
	-ms-user-select: none !important; /* IE 10 and IE 11 */
	user-select: none !important; /* Standard syntax */
}
